modules = ["nodejs-20", "web", "python-3.12", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXTAUTH_SECRET = "Sa4bh/vwhHY9Is0UJvx5LkJLnUGt9tplw4JbCM/kgJ8="
NEXTAUTH_URL = "https://9ebc80e7-199b-4e21-902c-97142679792b-00-2cv36dke043e6.pike.replit.dev"
